[submodule "client/external/glfw"]
    path = client/external/glfw
    url = https://github.com/CMDR-JohnAlex/glfw.git
    branch = master

[submodule "common/external/glm"]
	path = common/external/glm
	url = https://github.com/CMDR-JohnAlex/glm.git
	branch = master
